<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type = text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
  
    <!-- Delete Data -->
    <div class="Delete">
        <h2>Delete Data</h2>
        <form action="">
          
          <div class="Edit__item">
            <p>ID:</p> <input class="Edit__0" type="text">
          </div>
          <div class="Edit__item">
            <p>Content:</p> <input class="Edit__1" type="text">
          </div>
          <div class="Edit__item">
            <p>Summary:</p> <input class="Edit__2" type="text">
          </div>
          <div class="Edit__button">
            <button type="submit">Delete</button>
          </div>
        </form>
      </div>
      
    </div>
  </body>
</html>