<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" type = text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
  
    <!-- Edit -->
    <div class="Edit">
        <h2>Edit Data</h2>
        {% if id != None%}
        <form action="" method="GET">
             <div class="Edit__item">
            <p>ID:</p> <input class="Edit__0" type="text" name="id" id="id" value="{{data.id}}" >
                  <div class="Edit__button">
            <button type="submit">Search</button>
          </div>
          </div>
          </form>
        {% else %}
        <form action="" method="GET">
             <div class="Edit__item">
            <p>ID:</p> <input class="Edit__0" type="text" name="id" id="id1"  >
                  <div class="Edit__button">
            <button type="submit">Search</button>
          </div>
          </div>
          </form>
        {% endif %}
        {% if data != None%}
        <form action="" method="POST">
          <div class="Edit__item">
            <p>Content: </p> <input class="Edit__1" type="text" name="content" id="content" value="{{data.content}}">
          </div>
          <div class="Edit__item">
            <p>Summary:</p> <input class="Edit__2" type="text" name="summary" id="summary" value="{{data.summary}}" >
          </div>
          <div class="Edit__button">
            <button type="submit">Save</button>
          </div>
        </form>
        {% else %}
        <form action="" method="POST">
          <div class="Edit__item">
            <p>Content:</p> <input class="Edit__1" type="text" name="content" id="content1">
          </div>
          <div class="Edit__item">
            <p>Summary:</p> <input class="Edit__2" type="text" name="summary" id="summary1">
          </div>
          <div class="Edit__button">
            <button type="submit">Save</button>
          </div>
        </form>
        {% endif %}
      </div>
        {% if message != None%}
      <div class="mess" id="message">
      <div class="mess__tt">
        <h2 class="mess__title">{{message}}</h2>
        <div class="mess__btn" id="btnOk">OK</div>
      </div>
          {% endif %}
  </div>
    </div>
  </body>
<script>
    const mess= document.getElementById('message')
    console.log(mess)
    const btn = document.getElementById('btnOk')
    btn.onclick = () =>{
        mess.style = 'display: none'
    }
</script>
</html>